@media (min-width: 1200px){
  .container {
    max-width: 1000px;
}
}
.MuiAppBar-colorPrimary{
  background-color:black !important;
}


.MuiTableCell-body{
  width: 25%;
}
a{
  color: white !important;

}